<h1>Twitter view</h1>
<h2>All tweets of the observed accounts:</h2>

<p>Shows the last tweets of the observed twitter accounts.</p><br />

<% get_tweetids.each do |status| %>
    <div id="tweet"><p><b>
	<%= "#{status.from_user}:" %></b>
	<%= "#{status.text} (#{status.id})" %>
	
    <% saved = save_distinct(status.id.to_s) %>
    <% if saved %>
    	<div id="tweetimage">
    		<img src=<%= asset_path "check.jpg" %> alt="retweeted">
		</div>
    	<% Twitter.retweet(status.id) %>
    <% else %>
    	<div id="tweetimage">
    		<img src=<%= asset_path "cross.jpg" %> alt="already retweeted" id="tweetimage">
		</div>
    <% end %>
    
    </p></div>
<% end %>

<br /><br />
<a href="/">Back to the Title</a>