<!DOCTYPE html>
<html>
<head>
  <title>selectedRT - Retweet Officials only!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page">
		<div id="sidebar">
			<ul id="sidebar-items">
			  <li>
				<h3>Links</h3>
				<ul class="links">
				  <li><a href="http://github.com/chrisnain/selectedrt">App on Github</a></li>
				  <li><a href="http://blog.cshelp.net">Developer Website</a></li>
				  <li><a href="http://twitter.com/Mitgezwitschert">Developer in Twitter</a></li>
				  <li><a href="http://flattr.com/profile/chrisnain">Developer on Flattr</a></li>
				</ul>
			  </li>
			</ul>
		</div>

		<div id="content">
			<div id="header">
			  <h1>selectedRT</h1>
			  <h2>Retweet Officials only!</h2>
			</div>
		
			<div id="getting-started">
			
				<%= yield %>
		
			</div>
		</div>

		<div id="footer">&nbsp;</div>
    </div>
</body>
</html>
